$black: #000000;
$grey: #1e272d;
$white: #ffffff;
$off-white: #faf4e9;
$pink: #f95584;
$blue: #6ccccc;
$orange: #f89b0e;

// Font
$font: 'HKGrotesk', sans-serif;

// Dimensions
$logo-height: 100px;
$footer-height: 60px;
$side-padding: 2rem;

// Effects
$bs: 0 3px 6px rgba($black, .05), 0 3px 6px rgba($black, .02);

// Paths
$fonts: '../../fonts/';
