.container {
	padding: $side-padding;

	h1 {
		animation-name: slideInLeft;
		animation-duration: .3s;
		animation-fill-mode: both;
		animation-delay: .125s;
		animation-timing-function: cubic-bezier(.4, 0, 0, .88);
	}
}

.content {
	animation-name: slideInRight;
	animation-duration: .3s;
	animation-fill-mode: both;
	animation-delay: .27s;
	animation-timing-function: cubic-bezier(.4, 0, 0, .88);

	p {
		font-weight: normal;
	}
}
