li {
	display: block;
	height: 65px;
	padding: .8rem 0;
	animation-name: animateIn;
	animation-duration: .25s;
	animation-delay: calc(var(--animation-order) * .125s);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(.91, .01, .37, .88);

	& + li {
		margin-top: 1rem;
	}

	a {
		position: relative;
		display: inline-block;
		font-size: 3rem;
		transition: .25s cubic-bezier(.91, .01, .37, .88);
		animation: revealLink backwards .3s ease-out;
		animation-delay: .3s;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 4px;
			width: 0;
			background: red;
			z-index: -1;
			transition: all .25s cubic-bezier(.895, .03, .685, .22) 0s;
		}

		&:hover,
		&.active {
			&:after {
				width: 100%;
			}
		}
	}
}
